@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

:root {
  --mainBackgroundColor: rgb(39, 39, 39);
  --mainColor: #60ee78;
}

body {
  background-color: rgb(49, 49, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  padding: 20px;
  width: 350px;
  height: 450px;
  background-color: var(--mainBackgroundColor);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card .inp-pass {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.card .inp-pass .massage-copy {
  padding: 5px 15px;
  position: absolute;
  text-align: center;
  top: 28px;
  right: -2px;
  opacity: 0;
  background-color: var(--mainColor);
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.card .inp-pass .massage-copy::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 26px;
  width: 13px;
  height: 13px;
  background-color: var(--mainColor);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.show-massage-copy {
  animation: animate 0.5s 1 ease-out alternate 0s forwards;
  -webkit-animation: animate 0.5s 1 ease-out alternate 0s forwards;
}

@keyframes animate {
  0% {
    top: 28px;
    opacity: 0;
  }
  100% {
    top: 40px;
    opacity: 1;
  }
}

.hidden-massage-copy {
  animation: animateHidden 0.5s 1 ease-out alternate 0s forwards;
  -webkit-animation: animateHidden 0.5s 1 ease-out alternate 0s forwards;
}

@keyframes animateHidden {
  0% {
    top: 40px;
    opacity: 1;
  }
  100% {
    top: 28px;
    opacity: 0;
  }
}

.card .inp-pass .error-massage {
  padding: 5px 15px;
  position: absolute;
  text-align: center;
  top: 28px;
  right: -2px;
  opacity: 0;
  background-color: #f53333;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.card .inp-pass .error-massage::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 26px;
  width: 13px;
  height: 13px;
  background-color: #f53333;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.card .inp-pass input {
  color: white;
  padding: 10px 35px 10px 10px;
  width: 100%;
  height: 38px;
  background-color: #202020;
  border: 1px solid #5e5e5e;
  outline: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  text-overflow: ellipsis;
}

.card .inp-pass i {
  position: absolute;
  right: 23px;
  z-index: 3;
  font-size: 18px;
  color: var(--mainColor);
  cursor: pointer;
}

.card .Options {
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.card .Options .inputs {
  margin: 20px 0px;
  display: flex;
  align-items: center;
}

.card .Options .inputs .check {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 0px 8px;
}

.card .Options .inputs .check input {
  display: none;
}

.card .Options .inputs .check label {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #5e5e5e;
  background-color: transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.card .Options .inputs .check label i {
  display: none;
  z-index: 2;
}

.card .Options .inputs .check input:checked ~ label {
  background-color: var(--mainColor);
}

.card .Options .inputs .check input:checked ~ label i {
  display: block;
  color: black;
}

.card .Options .inputs label {
  color: white;
  text-transform: capitalize;
}

.card .range {
  width: 100%;
}

.card .range .range-inp {
  display: flex;
  justify-content: space-between;
}

.card .range input {
  width: 77%;
  accent-color: var(--mainColor);
}

.card .range p {
  padding: 4px;
  margin: 3px 5px;
  text-align: center;
  color: black;
  width: 17%;
  height: 30px;
  background-color: #60ee78;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card h4 {
  color: white;
}

.card button {
  margin: 20px 0px;
  width: 100%;
  height: 38px;
  background-color: var(--mainColor);
  border: none;
  outline: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}
